@import './Variables.scss';
@import './Mixins.scss';

.header {
  padding: 20px;
  &__top {
    @include onTablet {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
  @include onTablet {
    padding: 40px;
  }
  @include onDesktop {
    background-size: 40%;
    padding: 80px;
    flex-shrink: 1;
  }
  &__link {
    transition: 0.3s;
    text-decoration: none;
    color: $dark;
    padding: 10px;
    font-size: 17px;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    &-active {
      color: $blue;
      transition: 0.3s;
      text-decoration: none;
      padding: 10px;
      font-size: 17px;
      border: 1px solid $blue !important;
      border-radius: 30px;
      cursor: pointer;
    }
    @include onTablet {
      font-size: 19px;
      padding: 20px;
    }
    @include onDesktop {
      &:hover {
        border-color: $blue;
        color: $blue;
      }
    }
    &-button {
      transition: 0.3s;
      text-decoration: none;
      color: $dark;
      padding: 10px;
      font-size: 17px;
      border: 1px solid transparent;
      border-radius: 30px;
      background-color: transparent;
      cursor: pointer;
      @include onDesktop {
        &:hover {
          border-color: $blue;
          color: $blue;
        }
      }
      @include onTablet {
        font-size: 19px;
        padding: 20px;
        border-radius: 30px;
        margin: 0;
      }
    }
  }
  &__linksWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include onTablet {
      margin: 0;
    }
  }
  &__home {
    display: block;
    background-image: url('../images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    margin: 60px auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
    @include onTablet {
      margin: 0;
    }
  }
}
