$dark: #3d4f5c;
$orange: #fb8958;
$blue: #46b8c8;
$white: #fff;
$grey: #FBFAFA;
$darkgrey: #939393;
$lightOrange: #fec351;
$red: #fd5c63;

@font-face {
  font-family: "Circular Std";
  src:
    local("Circular Std"),
    url("../fonts/circular-std-medium-500\ \(1\).ttf") format("opentype") tech(color-COLRv1),
}

